<!DOCTYPE html>
<html>
   <head>
      <title>Flight Test Platform</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- 引入 Bootstrap -->
      <link href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">

      <!--引入自定义css-->
      <link href="static/css/common.css" rel="stylesheet">
      
      <!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
      <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
      <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
   </head>
   <body>
   <div class="mycontainer">
    <div class="headcontainer">
    <div class="navbar">
	 <ul class="nav nav-tabs nav-justified">
   		<li class="homeNav {{navActiveStatusDic.home}}"><a href="/home">Home</a></li>  
    	<li class="dropdown {{navActiveStatusDic.mock}}">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Mock<b class="caret"></b>
            </a>
        	<ul class="dropdown-menu">
   				<li><a href="/configPage">New Mock</a></li>
   				<li><a href="/getInterfaceList">Mocked Service</a></li>
   				<li><a href="/runService">Run Service</a></li>
        	</ul>
        </li>
               <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Jmeter Report<b class="caret"></b>
            </a>
        	<ul class="dropdown-menu">
   				<li><a href="http://ciapi.qa.nt.ctripcorp.com:8080/job/Corp-Maven-Jmeter/Summary_Report/" target="_blank">SummaryReport</a></li>
   				<li><a href="http://ciapi.qa.nt.ctripcorp.com:8080/job/Corp-Maven-Jmeter/Details_Report/" target="_blank">DetailsReport</a></li>
        	</ul>
        </li>
   		<li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Flight<b class="caret"></b>
            </a>
        	<ul class="dropdown-menu">
   				<li><a href="#">DomesticFlight</a></li>
   				<li><a href="#">IntlFlight</a></li>
        	</ul>
        </li>
        <li class="linksNav {{navActiveStatusDic.links}}"><a href="/links">Links</a></li>
   		<li class="moreNav {{navActiveStatusDic.more}}"><a href="#">More</a></li>
        <li class="helpNav {{navActiveStatusDic.help}}"><a href="/helpPage">Help</a></li>
   </ul>
	</div>
	</div>
	<div class="bodycontainer">
<form action="/runServices" method="GET" id="runServiceForm" class="form-inline" role="form" style="margin-top:5%;">

   		<div class="form-group">
   			<div class="input-group"> 
      		 <div class="input-group-addon">Protocol</div>
      			<select class="form-control" name="runProtocol" id="runProtocol">
         			<option>http</option>
         			<option>https</option>
         			<option>socket</option>
      			</select>
      		</div>
   		</div>
   		<div class="form-group">
   			<div class="input-group"> 
      		 <div class="input-group-addon">Mode</div>
      			<select class="form-control" name="Mode" id="Mode">
         			<option>Run</option>
         			<option>Stop</option>
      			</select>
      		</div>
   		</div>   		
   		<div class="form-group" >
   				<button type="button" class="btn btn-primary" onclick="runservice()">Run</button>
   		</div>   		
	</form>	
   		<div class="form-group" style="margin-top: 5%;">
   			<label class="control-label"></label>
   			<div class="col-lg-10"><label>{{returnMessage}}</label></div>
   		</div>

      <script src="static/js/getInterfaceList.js"></script>
      <!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
      <script src="https://code.jquery.com/jquery.js"></script>
      <script src="static/js/jquery.cookie.js"></script>
      <!-- 包括所有已编译的插件 -->
      <script src="static/bootstrap/js/bootstrap.min.js"></script>
   </div>
   </div>
   </body>
</html>