table{
     table-layout:fixed;/* 只有定义了表格的布局算法为fixed，下面td的定义才能起作用。 */
 }
 td{
     word-break:keep-all;/* 不换行 */
     white-space:nowrap;/* 不换行 */
     overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */
     text-overflow:ellipsis;/* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/
 }
pre{
color:yellowgreen;
boder:0;
background-color:black;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #555;
    background-color:black;
    border:0;
    cursor: default;
    }
.btn-primary{
 background-color:#663366;
 }
 

 .modal-header{
padding:9px 15px;
border-bottom:1px solid #eee;
background-color:#428bca;
color:white;
}
.modal-title{
color:white;
}
.modal-body{
color:black;
}
.mycontainer{
margin-left:15%;
margin-right:15%;
color:yellowgreen;
background-color:#000000;
}
.headcontainer{

}
.bodycontainer{
margin-top:10%;
background-color:black;
}

 body{
 background-color:black;
 color:#CCCC33;
 }
 .nav{
 font:26px;
 font-weight:bold;
 }